#bc-form .bcdice-tabs {
  gap: 0.5rem;
  border-bottom: black 1px solid;
  padding-left: 4px;
  padding-right: 4px;
}

#bc-form button.bcd-macro-button {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin: 2px 0;
}

#bc-form .bcdice-macro-page {
  display: flex;
  gap: 0.5rem;
  max-height: 500px;
  overflow-y: scroll;
}

.window-content .dialog-content textarea{min-height:145px}

.entity-name {
  font-weight: bold;
  padding: 0rem 0rem;
  border-top: 3px double #000;
  border-bottom: 3px double #000;
  background-color: rgb(255, 234, 0);
  margin-bottom: 10px;
}

.success-true {
  /* color: #2667ff; */
  margin: 0;
}

.success-false {
  /* color: #ff0077; */
  margin: 0;
}
.success-normal {
  /* color: #555555; */
  margin: 0;
}


.entity-image {
	width:60px;
	height:60px;
	object-fit:cover;
	border-radius:50%;
  border-width: 2px;
	object-position:0px 0px;
  background-color: rgb(255, 255, 255);
}

/* inline styles copied from a.inline-roll */
/*noinspection CssUnresolvedCustomProperty*/
a.bcd-inline-roll {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid var(--color-border-dark-tertiary);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}

/*noinspection CssUnresolvedCustomProperty*/
a.bcd-inline-roll i {
  color: var(--color-text-dark-inactive);
  margin-right: 0.25em;
}

a.bcd-inline-roll.gmroll {
  background: #e8e8ef;
  border-color: #545469;
}

a.bcd-inline-roll.blindroll {
  background: #f5eaf5;
  border-color: #6b476b;
}

/* Original Table*/
#bcdice-original-table-app .window-content {
  padding: 0;
}

#bcdice-original-table-app form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bcd-original-table-container {
  display: flex;
  flex: 1;
  border-top: 1px solid #c9c7b8;
}

.bcd-original-table-container .sidebar {
  flex: 1 1 250px;
  min-width: 230px;
  padding: 5px;
  border-right: 1px solid #c9c7b8;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}

.bcd-original-table-container .sidebar .sidebar-content {
  flex: 1;
  overflow-y: auto;
}

.bcd-original-table-container .sidebar .sidebar-footer {
  flex: 0;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #c9c7b8;
  padding-top: 5px;
}

.bcd-original-table-container .sidebar .sidebar-footer button {
  font-size: 12px;
  line-height: 1;
  padding: 4px 6px;
}

.bcd-original-table-container .sidebar .sidebar-footer button i {
  margin-right: 4px;
}

.bcd-original-table-container .content {
  flex: 2 1 350px;
  padding: 5px;
  overflow-y: auto;
}

.bcd-original-table-container .sidebar .sidebar-content .table-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-list .table-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  border-bottom: 1px solid #c9c7b8;
  cursor: pointer;
}

.table-list .table-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-item .table-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.table-item .table-name {
  font-size: 14px;
}

.table-item .table-command {
  font-size: 12px;
  color: #555;
}

.table-item .delete-table {
  color: #555;
  flex: 0 0 20px;
  text-align: center;
}

.sidebar-content .add-new-item {
  margin-top: 5px;
  padding-top: 5px;
  text-align: center;
}

.add-new-item a {
  display: block;
  width: 100%;
}

.table-list .table-item.active {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.bcd-original-table-container .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bcd-ot-app .form-group {
  display: flex;
  flex-direction: column;
}

.bcd-ot-app .form-group-horizontal {
  flex-direction: row;
  align-items: center;
}

.bcd-ot-app .form-group label {
  flex: 0 0 auto;
  font-weight: bold;
  margin-bottom: 2px;
}

.bcd-ot-app .form-group-horizontal label {
  flex: 0 0 80px; 
  margin-bottom: 0;
  margin-right: 5px;
}

.bcd-ot-app .form-group input[type="text"] {
  width: 100%;
}

.bcd-ot-app .form-group textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.bcd-ot-app .form-group-stretch {
  flex: 1;
}

.bcd-ot-app p.notes {
  font-size: 12px;
  color: #555;
  margin: 0;
}

.bcd-ot-app input.error {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}